<div>
  <app-header></app-header>
  <mat-card>
    <mat-card-header>
    <mat-card-title>{{mergeRequestName}} <a [href]="mergeRequestHttpUrl">#{{mergeRequestId}}</a></mat-card-title> 
      <a mat-card-subtitle [href]="projectHttpUrl">{{projectName}}</a>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-4">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Settings</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-md-12">
                  <mat-select [(value)]="selectedDeck" (valueChange)="reloadDiff()" placeholder="Select deck...">
                    <mat-option *ngFor="let deck of deckNames" [value]="deck">{{deck}}</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-checkbox [(ngModel)]="hideCardsWithoutChanges">Hide cards without changes</mat-checkbox>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Select card</h2>
        </div>
        <div class="col-md-8">
          <h2>Diff cards</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 card-selection">
          <app-note-selector
            [leftDeck]="currentDeck"
            [rightDeck]="incomingDeck"
            [hideCardsWithoutChanges]="hideCardsWithoutChanges"
            (newSelection)="selectDiff($event)"
          ></app-note-selector>
        </div>
        <div class="col-md-8" id="cards-diff" (window:scroll)="cardsDiffScroll()">
          <div class="row" [class.scrolling]="addScrollingClassToCardsDiff">
            <div class="col-md-6">
              <app-note-preview [note]="selectedNoteCurrent" title="Current Card" [commitId]="currentCommitId" [deckPath]="selectedDeck"></app-note-preview>
            </div>
            <div class="col-md-6">
              <app-note-preview [note]="selectedNoteIncoming" title="Incoming Card" [commitId]="incomingCommitId" [deckPath]="selectedDeck"></app-note-preview>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
