<div class="row" [class.changes]="noteDiff.changes" [class.selected]="selected">
  <div class="col-md-6">
    <div class="column"
         [class.deleted]="!noteDiff.firstExists && noteDiff.secondExists"
         [class.created]="noteDiff.firstExists && !noteDiff.secondExists">
      {{ noteDiff.firstExists ? 'Card ' + noteDiff.noteGuid : '-' }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="column"
         [class.created]="!noteDiff.firstExists && noteDiff.secondExists"
         [class.deleted]="noteDiff.firstExists && !noteDiff.secondExists">
      {{ noteDiff.secondExists ? 'Card ' + noteDiff.noteGuid : '-' }}
    </div>
  </div>
</div>
