/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~flexboxgrid/dist/flexboxgrid.min.css';

.mat-card-header-text {
  margin-left: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
